<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://split-flap2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>split-flap2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Split-flap2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Split-flap2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Split_flap.Models.MessageDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:splitflap.database.windows.net,1433;Initial Catalog=Split-flap2_db;User ID=fpagliar@splitflap;Password=Crhtxb7o" Name="Data Source=tcp:splitflap.database.windows.net,1433;Initial Catalog=Split-flap2_db;User Id=fpagliar@splitflap;Password=Crhtxb7o" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Split_flap.Models.MessageDBContext, Split-flap" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Split_flap.Models.MessageDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:splitflap.database.windows.net,1433;Initial Catalog=Split-flap2_db;User Id=fpagliar@splitflap;Password=Crhtxb7o</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Split_flap.Models.MessageDBContext" />
  </ItemGroup>
</Project>